header{
    background-color: purple;
    display: flex;
    height: 75px;
    align-items: center;
}

#kek{
    display: flex;
    background-color: cyan;
    margin-left: 25px;
    width: 100px;
    height: 40px;
    flex-direction: row;
    justify-content: left;
}

#sarga{
    background-color: yellow;
    flex-basis: 150%;
    order: 2;
}

#zold{
    background-color: green;
    order: 1;
    margin-right: 10px;
    margin-left: 15px;
}

#nagydiv{
    display: flex;
    width: 90%;
    height: 700px;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

#zold, #sarga{
    width: 100%;
    height: 700px;
}

#kek:first-child{
    margin-left: 50px;
}

footer{
    display: flex;
    background-color: grey;
    width: 90%;
    height: 70px;
    margin-left: 20px;
}

#gigadiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}