#zold{
    background-color: green;
}

#sarga{
    background-color: yellow;
    flex-basis: 200%;
}

#lila{
    background-color: purple;
}

#nagydiv{
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: row;
    align-items: stretch;
}

#zold, #sarga, #lila{
    width: 100%;
    height: 300px;
}